[submodule "multi-view-tool"]
	path = generate_datasets/multi-view-tool
	url = git@github.com:tparisotto/multi-view-tool.git
[submodule "neural_renderer"]
	path = neural_renderer
	url = git@github.com:ZhengZerong/neural_renderer.git
[submodule "DiffDVR"]
	path = DiffDVR
	url = git@github.com:shamanDevel/DiffDVR.git
